<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="h1">Juntos</h1>
      <h1>fazemos a</h1>
      <h1>diferença</h1>
      <br>
      <button type="button" class="btn btn-light btn-sm btn-a" [routerLink]="['/dashboard']">{{'SCHEDULE_COLLECTION' |
        translate}}</button>
    </div>
    <div class="col-sm">
      <img class="img-fluid" src="assets/img/we_home.png" alt="Três pessoas felizes, ao fundo uma montanha e um sol">
    </div>
  </div>
  <div>
    <svg class="wave" viewBox="0 0 1440 1300" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.107919 70.5137C-0.0354578 69.8315 -0.0364875 69.1938 0.107919 68.6042V70.5137C7.51775 105.774 395.123 260.234 736.518 68.6042C1084.52 -126.733 1370.21 167.426 1444.02 68.6042V939.356H0.107919V70.5137Z"
        fill="#E7EBEA" />
      <path
        d="M1439.91 1201.84C1440.05 1202.52 1440.05 1203.16 1439.91 1203.75V1201.84C1432.5 1166.58 1044.89 1012.12 703.5 1203.75C355.5 1399.09 69.8052 1104.93 -4.00012 1203.75V333H703.498H1439.91V1201.84Z"
        fill="#E7EBEA" />
    </svg>
  </div>

  <div>
    <p class="text-center h3">{{ 'SEE_MORE' | translate}}</p>
    <!-- <div class="card-deck">
      <div class="card">
        <img src="assets/img/image 4.png" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-light btn-sm btn-b" href="#">Continuar lendo</button>
        </div>
      </div>
    </div> -->
  </div>
</div>