<div class="container">
    <h2>{{'COLLECT_POINT' | translate}}</h2>

    <div class="content">

        <!-- <div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center pt-0 pb-3">Não há pontos de coleta ativos no momento!</h2>
                </div>
                <div class="col-12">
                    <div class="center"><img src="assets/img/freshair.png" alt=""></div>
                </div>
            </div>
        </div> -->

        <div fxLayout="row wrap" class="justify-content-center" fxLayoutGap="16px grid">
            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.md="43%" *ngFor="let collectPoint of allCollectPoints">
                <mat-card class="mat-elevation-z4">
                    <img mat-card-image src="/assets/img/collectPoint.png" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <b>
                            <p class="d-flex justify-content-center" id="title">{{collectPoint.social_reason}}</p>
                        </b>
                        <p>Endereço: {{collectPoint.endereco}} - {{collectPoint.zipcode}}</p>
                    </mat-card-content>
                    <!-- <mat-card-actions class="d-flex justify-content-center">
                        <button mat-button>Conhecer</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>
