$color-back: #e7ebea;
$green-2: #acbf60;
$green: #326700;
$pink: #eeb29c;
$black: #1c1c1c;
$gray: #9b9b9b;
$red: #be4e2b;

* {
    margin-top: 3%;
}

img {
    padding-top: 50px;
    width: 75%;
    float: right;
}

button {
    width: 30%;
    border-radius: 3px;
    border: none;
    background-color: $green;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    background-color: #397402;
}

h2 {
    padding-top: 100px;
    font-weight: bold;
}

h1 {
    padding-top: 25px;
    font-size: min(40px, 6vw);
    letter-spacing: 2px;
    font-weight: 600;
}

.message {
    padding-top: 7px;
}

mark {
    background-color: $pink;
    color: $green;
    font-family: "Montserrat", sans-serif;
}

.form__field {
    font-family: inherit;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    border: 2px solid $pink;
    outline: 0;
    font-size: 1rem;
    color: $black;
    padding: 7px 0;
    background: white;
    transition: border-color 0.2s;
}

.form__field:focus {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-width: 3px;
    border-image: linear-gradient(to right, $green, $green-2);
    border-image-slice: 1;
}

.form__field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.error{
    color: $red;
}
