<app-green-nav></app-green-nav>

<div class="container" *ngIf="!viewSuccess">
    <div class="row">
        <div class="col-sm">
            <h2><mark>Digite o email cadastrado: &nbsp; &nbsp;</mark></h2>
            <form [formGroup]="recoverForm">
                <div class="form-group">
                    <input type="email" formControlName="email" class="form__field " maxlength="50" required />
                </div>
                <p *ngIf="messageError" class="error">Email não cadastrado</p>
                <br *ngIf="!messageError">
                <button type="button" class="btn btn-success" [disabled]="recoverForm.invalid"
                    (click)="recoverSuccess(recoverForm.value)">{{'ENVIAR' |
                    translate}}</button>
            </form>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="assets/img/image_recover.png"
                alt="Ilustração de uma mulher de camiseta verde, short jeans, meia amarela e chinelo preto sorindo com os olhos fechados e acenando, ao lado de uma mesa de madeira com um monitor ao meio e de um lado uma caneca vermelha e um vaso laranja com um cacto, ao fundo uma janela rosa">
        </div>
    </div>
</div>

<div class="container" *ngIf="viewSuccess">
    <div class="row">
        <div class="col-sm">
            <h1><mark>Em breve você &nbsp;</mark></h1>
            <h1><mark>receberá um e-mail &nbsp;</mark></h1>
            <h1><mark>para redefinir sua &nbsp;</mark></h1>
            <h1><mark>senha! &nbsp;</mark></h1>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="assets/img/image_recover.png"
                alt="Ilustração de uma mulher de camiseta verde, short jeans, meia amarela e chinelo preto sorindo com os olhos fechados e acenando, ao lado de uma mesa de madeira com um monitor ao meio e de um lado uma caneca vermelha e um vaso laranja com um cacto, ao fundo uma janela rosa">
        </div>
    </div>
</div>